{% extends "./base.html" %}

{% block content %}
<br>
<br>
    <div class="jumbotron container p-2 alert-danger text-center animate__animated animate__bounce animate__bounceIn" >
        <h1 class="display-4">Payment Failed</h1>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, distinctio modi. Aperiam illo vero expedita accusantium nihil nostrum itaque explicabo magni quasi necessitatibus totam, similique, ea quos dolore, aut voluptatibus?
        </p>
        <hr class="my-4">
        <p>your payment failed ..</p>
    </div>
{% endblock %}
